<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Proiect Individual - Add Experience</title>
<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

	<div class="header">
		<div class="subheader">
			<h1>Digital Nation - JAVA - proiect individual</h1>
		</div>
	</div>

	<div id="container">
		<div id="maincolumn">
			<div class="fblock">
				<div class="fblock-header"><h4>Add Experience</h4></div>
<div class="clearfix"></div>
				<div class="fblock-content">
				<div class="fblock-innercontent">
				<div class="colhead" style="padding: 10px;">
					<form th:action="@{/experience/add}" th:object = "${newExperience}" method="POST">
						<div class ="form-group">
							<label> Position: </label><br>
							<input type="text" th:field="*{position}" placeholder="...">
							<label> Company: </label><br>
							<input type="text" th:field="*{company}" placeholder="...">
							<label> Date from: </label><br>
							<input type="date" th:field="*{dateFrom}" placeholder="...">
							<label> Date to: </label><br>
							<input type="date" th:field="*{dateTo}" placeholder="...">
							<label> Job description: </label><br>
							<textarea required th:field="*{description}" placeholder="..." rows="5"></textarea>
						</div>
						<div class = "box-footer">
										<a th:href="@{/experience}" class="ar"> Back to Experiences List</a>
						</div>				
						<div class = "box-footer">
							<button type="submit" class = "sbtn">
								Submit
							</button>
						</div>
					</form>
				</div>
				</div>
				</div>
				<div class="fblock-bottom"></div>
			</div>
		</div>
	</div>
		
	<div id="footer">
		<div id="footerInner">
			<div class="boxFooter">
				<h2>&nbsp;&nbsp;Toma Ciprian</h2>
				<ul style="position: relative;bottom: 8px;"><a href="#top" class="gototop" title="Go To Top">December 2021</a></ul>
			</div>

			<div style="float: right;">
				<font class="small"><b><a href="#top" class="gototop" title="Go To Top">To Top</a></b></font>
			</div>
		</div>
        </div>

</body>
</html>