<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Skill - Curriculum Vitae</title>
<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

	<div class="header">
		<div class="subheader">
			<h1>Digital Nation - JAVA - proiect individual</h1>
		</div>
	</div>
	
	<div id="container">
		<div id="maincolumn">
			<div class="fblock">
				<div class="fblock-header"><h4>Add Skill</h4></div>
				<div class="clearfix"></div>
				<div class="fblock-content">
				<div class="fblock-innercontent">
				<div class="colhead" style="padding: 10px;">
					<form th:action="@{/skills/add}" th:object = "${newSkill}" method="POST">
						<div class ="form-group">
							<label> Skill: </label>
							<input type="text" th:field="*{skill}" placeholder="..."> 
							<label> Description: </label>
							<input type="text" th:field="*{description}" placeholder="...">
						</div>	
						<div class = "box-footer">
										<a th:href="@{/skills}" class="ar"> Back to Skills List</a>
									</div>			
						<div class = "box-footer">
							<button type="submit" class="sbtn">Add Skill</button>
						</div>
					</form>
				</div>
				</div>
				</div>
				<div class="fblock-bottom"></div>
			</div>
		</div>
	</div>
		
	<div id="footer">
		<div id="footerInner">
			<div class="boxFooter">
				<h2>&nbsp;&nbsp;Toma Ciprian</h2>
				<ul><span style="position: relative;bottom: 8px;"><a href="" title="Home">December 2021</a></span></ul>
			</div>

			<div style="float: right;">
				<font class="small"><b><a href="#top" class="gototop" title="Go To Top">To Top</a></b></font>
			</div>
		</div>
	</div>
	
</body>
</html>